:root {
  --section-padding: 35px;
}
@screen md {
  :root {
    --section-padding: 90px;
  }
}

body {
  @apply bg-bg-back;
}

%devicePadding {
  padding:0 30px;
  @screen md {
    padding: 0 35px;
  }
  @apply mx-auto;
}
.container {
  $containerWidth: 1350px;
  max-width:$containerWidth;
  width:100%;
  @extend %devicePadding;
  &-sm {
    max-width: $containerWidth * 0.8;
    width: 100%;
    @extend %devicePadding;
  }
  &-lg {
    max-width: $containerWidth * 1.2;
    width: 100%;
    @extend %devicePadding;
  }
  &-xl {
    max-width: $containerWidth * 1.4;
    width: 100%;
    @extend %devicePadding;
  }
  &-full {
    max-width:100%;
    width: 100%;
    @extend %devicePadding;
  }
}
.section {
  margin: var(--section-padding) 0;
  &-lg, &.lg {
    margin: calc(var(--section-padding) * 2) 0;
  }
  &-xl, &.xl {
    margin: calc(var(--section-padding) * 3) 0;
  }
}

.padded {
  padding: var(--section-padding) 0;
  &-lg, &.lg {
    padding: calc(var(--section-padding) * 2) 0;
  }
  &-xl, &.xl {
    padding: calc(var(--section-padding) * 3) 0;
  }
}

.avatar {
  @apply rounded-full;
}

.sideScrollNoBars {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
